# ANN (linear regression)

In [1]:
import pandas as pd

In [2]:
dset=pandas.read_csv('weight-height.csv')
dset.columns

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [5]:
dset.head(10)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801
5   Male  67.253016  152.212156
6   Male  68.785081  183.927889
7   Male  68.348516  167.971110
8   Male  67.018950  175.929440
9   Male  63.456494  156.399676

In [6]:
dset.shape

(10000, 3)

In [13]:
y  =  dset['Weight']
X  =  dset['Height']
X.shape

(10000,)

In [14]:
from keras.models  import Sequential
model =  Sequential()

In [16]:
from keras.layers import Dense
model.add(Dense( bias_initializer="zeros" ,  kernel_initializer="zeros"  ,units=1,activation='linear',input_shape=(1,),))

In [17]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 1)                 2
=================================================================
Total params: 2
Trainable params: 2
Non-trainable params: 0
_________________________________________________________________

In [20]:
model.get_config()

{'name': 'sequential_1',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 1),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_2_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_2',
    'trainable': True,
    'batch_input_shape': (None, 1),
    'dtype': 'float32',
    'units': 1,
    'activation': 'linear',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [22]:
from keras.optimizers   import  Adam

In [23]:
model.compile(optimizer=Adam()  , loss='mean_squared_error')

In [24]:
model.fit(X,y)

313/313 [==============================] - 11s 719us/step - loss: 25317.6855

In [25]:
model.get_weights()

[array([[0.30478185]], dtype=float32), array([0.3045603], dtype=float32)]

In [26]:
model.predict([100])

array([[30.782745]], dtype=float32)

In [32]:
model.save('nn_model1.pk1')

INFO:tensorflow:Assets written to: nn_model1.pk1\assets

In [34]:
#model.save('nn_model1.h5')